body {
	margin: 0;
	padding: 0;
	font-family: poppins;
	
/*to add background*/
/*background:;
-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;*/
}

/*all links everywhere*/
a {
	font-size: 12px;
	text-transform: uppercase;
}

/*area above navigation bar*/
.above-nav{
  padding:5px;
  
}


#contact-number{
  padding:5px;
  width:200px;
  display:inline-block;
  border:1px solid black;
}

#spacer1{
  width:80vw;
  display:inline-block;
  border:1px solid black;
}

/* navigation bar*/
.nav-area {
	background: #262626;
	height:16vh;
	border:1px solid red;

	
}
.nav-area:after {
	content: '';
	clear: both;
	display: block;
}

#spacer2{
  width:35%;
  display:inline-block;
  border:1px solid white;
}
.nav-area ul {
	list-style: none;
	/*padding-left:400px;*/
	margin-top:0;
	border:1px solid red;
	display:inline-block;
}

/*main menu items*/
.nav-area>ul>li {
	display:inline-block;
	position: relative;
}

/*main menu links*/
.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
}
/*main menu items*/
.nav-area ul li:hover a {
	background: #34495e;
	
}

/*dropdown menu*/
.nav-area ul ul {
	position: absolute;
	padding: 0;
	min-width: 160px;
	display: none;
	top: 100%;
	left: 0;

}

/*when hover on main menu item,*/

.nav-area ul li:hover>ul {
	display: block;
}

/*when hover on dropdown menu item*/
.nav-area ul ul li:hover a {
	background: #262626;
}

/*dropdown menu item*/
.nav-area ul ul li {
	position: relative;
}

/*2nd level drop down menu
.nav-area ul ul ul {
	top: 0;
	left: 100%;
}
.nav-area ul ul ul li:hover a {
	background: #34495e;
}*/



main{
  height:80vh;
}

footer{
  background: #262626;
  color:#fff;
}

#contact-options{
  width: 100% !important;
  text-align: center;
}

#contact-options>div {
  padding:10px;
  display:inline-block;
  width:200px;
  text-align:center ;
  margin-left:30px;
  margin-right:30px;
  
  vertical-align:top;
}
  
#map {
  padding:5px;
}

#copyright{
  padding:10px;
  text-align:center;
}

/*Responsive design_Media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}